VITE_SUPABASE_URL=https://sfwcmaoeoreuwhxcjlxe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmd2NtYW9lb3JldXdoeGNqbHhlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg3NDU0MzgsImV4cCI6MjA5NDMyMTQzOH0.nyUGpG2L25o0IlSrCoIMp3EUCdwHrEQ7jQbIHbexTck
